{% extends "movies_base.html" %}

{% block title %}
	{{ movieDetail.moviename }}
{% endblock %}

{% block head %}
<script src="/static/js/numeral.js"></script>
{% endblock head %}


{% block styles %}
<style type="text/css">
	/* clearfix */
	.clearfix {
		display: block;
		zoom: 1;
	}

	/* body */
	body {
		font: 12px Helvetica,Arial,sans-serif;
		line-height: 1.62;
	}

	/* html */
	html {
		color: #111;
	}

	/* wrapper */
	#wrapper {
		width: 950px;
		margin: 0 auto;
		margin-top: 50px;
	}

	/* content */
	#content {
		min-height: 420px;
	}
	#content h2 {
		color: #007722;
		margin: 24px 0 3px 0;
		font: 15px Arial;
		line-height: 1.5;
	}

	/* h1 */
	h1 {
		word-wrap: break-word;
		display: block;
		font-size: 25px;
		font-weight: bold;
		color: #494949;
		padding: 0 0 15px 0;
		line-height: 1.1;
	}

	/* article for grid-16-8 */
	.grid-16-8 .article {
		float: left;
		width: 590px;
		padding-right: 40px;
	}

	/* indent */
	.indent {
		margin-bottom: 30px;
		word-break: break-all;
	}

	/* subject */
	.subjectwrap {
		float: none;
		width: auto;
		margin-bottom: 15px;
	}
	.subject {
		float: left;
		width: 415px;
		margin-right: 20px;
	}


	/* rating section */
	#interest_sect1 {
		float: left;
		width: 155px;
		margin: 2px 0 0 0;
		padding: 0 0 0 15px;
		border-left: 1px solid #eaeaea;
		color: #9b9b9b;
	}
	#interest_sect1 .rating_wrap {
		padding-bottom: 15px;
		font-size: 12px;
		line-height: 14px;
	}
	#interest_sect1 .rating_self {
		padding: 0;
		line-height: 2;
	}



	/* main image */
	#mainpic {
		float: left;
		text-align: center;
		margin: 3px 12px 0 0;
		max-width: 155px;
		overflow: hidden;
	}

	/* info */
	#info {
		float: left;
		max-width: 248px;
		word-wrap: break-word;
	}

	/* more-actor */
	.more-actor {
		color: #aaa;
	}

	/* related-info */
	.related-info, .age{
		clear: both;
		margin-top: 20px;
		margin-bottom: -10px;
		padding: 20px 0 3px;
	}

	/* boxoffice */
	.boxoffice span {
		border: .02rem solid #ffa933;
		border-radius: .04rem;
		color: #ffa933;
		line-height: 2rem;
		float: left;
		margin-right: .14rem;
		margin-bottom: .2rem;
		height: 2rem;
		padding: 0 .2rem;
	}

	/* gender */
	.gender .bar-wrap {
		margin: 0 .24rem;
		height: .5rem;
		position: relative;
	}

	/* male */
	.gender .bar-wrap span#bar-left {
		left: 0;
		background: #71b0ef;
	}
	.gender .bar-wrap span#bar-left:before {
		content: '男';
		padding-left: .2rem;
	}
	.gender .bar-wrap span#bar-left:after {
		padding-right: .2rem;
		float: right;
		content: attr(data-content);
	}

	/* female */
	.gender .bar-wrap span#bar-right {
		right: 0;
		background: #f66c73;
	}
	.gender .bar-wrap span#bar-right:before {
		padding-left: .2rem;
		content: attr(data-content);
	}
	.gender .bar-wrap span#bar-right:after {
		content: '女';
		padding-right: .2rem;
		float: right;
	}

	.gender .bar-wrap span {
		position: absolute;
		height: 1.2rem;
		color: #fff;
		line-height: 1.2rem;
		/*min-width: 30%;*/
		max-width: 70%;
		overflow: hidden;
	}
	.gender .bar-wrap span:after {
		padding-right: .2rem;
		float: right;
	}


	/* footer */
	#footer {
		color: #999;
		padding 6px 0;
		margin-top: 40px;
		overflow: hidden;
		zoom: 1;
		border-top: 1px dashed #ddd;
		clear: both;
	}
	.fleft {
		float: left;
	}

</style>
{% endblock %}


{% block content %}
{% if movieDetail %}
	<!-- This part for wrapper. -->
	<div id="wrapper">
		<!-- Main content. -->
		<div id="content">
			<h1>
				<span>{{ movieDetail.moviename }}</span>
				<span>({{ movieDetail.releasedate|date:"Y-m-d" }})</span>
			</h1>		
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div class="indent clearfix">
						<div class="subjectwrap clearfix">
							<div class="subject clearfix">
								<div id="mainpic">
									<img style="height:260px;">
								</div>
								<div id="info">
									<div id="info_director"></div>
									<div id="info_actor"></div>
									<span style="color: gray;">类型:&nbsp;&nbsp;</span><span>{{ movieDetail.genre }}</span><br>
									<span style="color: gray;">制片国家/地区:&nbsp;&nbsp;</span><span>{{ movieDetail.country }}</span><br>
									<span style="color: gray;">语言:</span>&nbsp;&nbsp;<span>{{ movieDetail.language }}</span><br>
									<span style="color: gray;">上映日期:</span>&nbsp;&nbsp;<span>{{ movieDetail.releasedate|date:"Y-m-d" }}</span><br>
									<span style="color: gray;">片长:</span>&nbsp;&nbsp;
									<span id="duration">
									{% if movieDetail.duration %}
										<script type="text/javascript">
											 document.getElementById('duration').innerHTML = numeral({{ movieDetail.duration }}).format('0,2') + '分钟';
										</script>		
									{% endif %}
									</span>
									<br>
									<span style="color: gray;">又名:</span>&nbsp;&nbsp;<span>{{ movieDetail.alias }}</span><br>
								</div>
							</div>
							<div class="interest_sect1">
								<div class="rating_logo">猫眼评分</div>
								<div class="rating_wrap clearbox" id="maoyan_rating">
									{% if movieDetail.maoyanratingscore %}
									<script type="text/javascript">
										document.getElementById('maoyan_rating').innerHTML = '<strong>' + numeral({{ movieDetail.maoyanratingscore }}).format('0.2') + '</strong><br><a>' + numeral({{ movieDetail.maoyanratingnum }}).format('0,2') + '人评价</a>';
									</script>
									{% endif %}
								</div>	
								<br>
								<div class="rating_wrap clearbox" id="douban_rating"></div>
							</div>
						</div>
					</div>
					<div class="related-info">
						<h2>{{ movieDetail.moviename }}的剧情简介</h2>
						<div class="indent">
							<p style="text-indent: 2em;">{{ movieDetail.synopsis }}</p>
						</div>
					</div>

					<!-- Set for various tabs. -->
					<div class="tab" id="tab">
						<div class="tab-wrap-movie">
							<div class="ui secondary three item menu" id="tab_transition" style="border-top: 1px solid; border-bottom: 1px solid;">
								<a class="active item" href="#companyInfo">公司</a>
								<a class="item" href="#dailyBoxoffice">票房</a>
								<a class="item" href="#audAnalysis">用户</a>
							</div>
						</div>
						<!-- Company info. -->
						<div id="companyInfo" style="display: block;">
							<div id="company_production">
								<h2>出品公司</h2>
							</div>
							<div id="company_distribution">
								<h2>发行公司</h2>
							</div>
						</div>
						<!-- Daily boxoffice -->
						<div id="dailyBoxoffice" style="display: none;">
							<h2>分天票房，排片和人次数据</h2>	
							<div id="dailyBoxoffice-chart" style="width: 1000px; height: 400px;"></div>
						</div>
						<!-- Audience analysis -->
						<div id="audAnalysis" style="display: none;">		
							<div class="gender">
								<h2>性别分布</h2>
								<div class="bar-wrap">
									{% if  movieDetail.male %}
									<span id="bar-left" data-content="{{ movieDetail.male }}%" style="width: {{ movieDetail.male }}%"></span>
							 		<span id="bar-right" data-content="{{ movieDetail.female }}%" style="width: {{ movieDetail.female }}%"></span>
									{% endif %}
								</div>
							</div>
							<div class="age">
								<h2>年龄分布</h2>
								<div id="age-chart" style="width: 600px; height: 400px;"></div>
							</div>
						</div>
					</div>

					<!-- Reference douban api for comments. -->
					<div class="ui hidden divider"></div>
					<div id="commnets-section-douban">

					</div>

				</div>
				<div class="aside" style="left: 640px; position: static; bottom: 300px;">
					<div class="boxoffice" style="margin-bottom: 10px;">
						<h2>票房数据</h2>
						<span>总票房:&nbsp;&nbsp;
							<i id="maoyan_boxoffice_gross">
								{% if movieDetail.gross %}
									<script type="text/javascript">
										document.getElementById('maoyan_boxoffice_gross').innerHTML = numeral({{ movieDetail.gross }}).format('0,.2');
									</script>
								{% endif %}
							</i>万
						</span>
					</div>
					<br>
					<div class="tags" style="margin-top: 10px;">
						<h2>豆瓣标签</h2>
						<div class="tags-body">
							{{ movieDetail.tag }}
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<div class="ui hidden divider"></div>

		<!-- footer area. -->
		<div id="footer">
			<span class="fleft gray-link">
				©2016 Weiying Institute Of Research, all rights reserved
			</span>
		</div>
	</div>
{% else %}
	<p>抱歉，此影片无数据.</p>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript">
	//Get people info for this movie
	function GetPeople(){
		$.ajax({
			type: 'GET',
			url: '/movies/movie_people/' + {{ movieDetail.movieid }} + '/',
			cache: false,
			success: function(data){
				//clear contents of info div
				//$("#info").html("");
				
				var directors_array = [];
				var actors_array = [];

				for (var i = 0; i < data.length; i++){
					if (data[i]['fields']['role'] == 'director') {
						directors_array.push({
							'name': data[i]['fields']['name'],
							'peopleid': data[i]['fields']['peopleid']
						});
					}

					if (data[i]['fields']['role'] == 'actor') {
						actors_array.push({
							'name': data[i]['fields']['name'],
							'peopleid': data[i]['fields']['peopleid']
						});
					}
				}

				//now generate html
				//director
				for (var i = 0; i < directors_array.length; i++){
					if (i == 0){
						$('#info_director').append('<span style="color: gray;">导演:&nbsp;&nbsp;</span><span><a href="#">' + directors_array[i]['name']  + '</a></span>');
					} else {
						$('#info_director').append('<span><a href="#">' + ', ' + directors_array[i]['name']  + '</a></span>');
					}
					if ( i == directors_array.length - 1){
						$('#info_director').append('<br/>');
					}
				}
				
				//actors
				for (var i = 0; i < actors_array.length; i++){
					if (i == 0){
						$('#info_actor').append('<span style="color: gray;">主演:&nbsp;&nbsp;</span><span><a href="#">' + actors_array[i]['name']  + '</a></span>');
					} else if (i > 3){ 
						$('#info_actor').append('<span><a href="#" style="display: none;">' + ', ' + actors_array[i]['name']  + '</a></span>');
					}
					else {
						$('#info_actor').append('<span><a href="#">' + ', ' + actors_array[i]['name']  + '</a></span>');
					}
					if ( i == actors_array.length -1 && i > 3){
						$('#info_actor').append('<a class="more-actor" title="更多主演" onClick="actor_spans = document.getElementById(\'info_actor\').getElementsByTagName(\'a\'); for(var i=0; i < actor_spans.length; i++){actor_spans[i].style.display = \'inline\';} document.getElementsByClassName(\'more-actor\')[0].style.display=\'none\';">, 更多...</a>');
					}
				}

			}
		});
	}

	//Get company info for this specific movie
	function GetCompanies(){
		$.ajax({
			type: 'GET',
			url: '/movies/movie_company/' + {{ movieDetail.movieid }} + '/',
			cache: false,
			success: function(data){
				//Initialize production company array and distribution company array
				var companies_production = [];
				var companies_distribution = [];

				for (var i = 0; i < data.length; i++) {
					if(data[i]['fields']['role'] == 'production'){
						companies_production.push({
							'name': data[i]['fields']['company'],
							'companyid': data[i]['fields']['companyid']
						});						
					}
					if(data[i]['fields']['role'] == 'distributor'){
						companies_distribution.push({
							'name': data[i]['fields']['company'],
							'companyid': data[i]['fields']['companyid']
						});
					}
				}

				//generate html
				//production companies
				for (var i = 0; i < companies_production.length; i++){
					$('#company_production').append('<a href="#">' + companies_production[i]['name'] + '</a><br>');
				}
				//distribution companies
				for (var i = 0; i < companies_distribution.length; i++){
					$('#company_distribution').append('<a href="#">' + companies_production[i]['name'] + '</a><br>');
				}
			}
		});	
	}//end of GetCompanies

	//Get info from douban via public api
	/*Here we use jsonp to load data from douban via douban api, see details from http://borninsummer.com/2013/12/28/accessing-cross-site-data-with-jsonp/.*/
	function GetDoubanApi() {
		$.ajax({
			type: 'GET',
			url: "https://api.douban.com/v2/movie/subject/" + {{ movieDetail.doubanmovieid }}, //'/movies/movie_doubanApi/' + {{ movieDetail.doubanmovieid }} + '/',
			cache: false,
			async: false,
			dataType: 'jsonp',
			jsonp: 'callback',
			success: function(json){
				console.log(json);
				//load image for this movie
				$('#mainpic').html('');
				$('#mainpic').append('<img style="height:260px;" src="' + json['images']['large'] + '">');

				//douban rating and ratingNum
				$('#douban_rating').append('<div class="rating_logo">豆瓣评分</div><strong>' + numeral(json['rating']['average']).format('0.2') + '</strong><br><a>' + numeral(json['ratings_count']).format('0,2') + '人评价</a>')
			},
			error: function(request, status, error){
				console.log(error);
				alert(status);
				console.log('fuck');
			},
			always: function(request, status){
				console.log(status);
			}
		});
	
	}//end of GetDoubanApi


	//function GetDoubanApi_v2
	function GetDoubanApi_v2() {
		$.getJSON("https://api.douban.com/v2/movie/subject/" + {{ movieDetail.doubanmovieid }},
			function(data){
				console.log(data);
			}
		);
	}//end of GetDoubanApi_v2


	//document get ready
	$(document).ready(function() {
		//maoyan rating

		//get people
		GetPeople();

		//tab transition
		tabTransition();

		//get companies
		GetCompanies();

		//get doubanApi
		GetDoubanApi();

		//get daily boxoffice
		GetDailyBoxoffice();
	});

	//age-chart
	var age_chart = echarts.init(document.getElementById('age-chart'));

	var age_chart_option = {
		title: {
			text: '用户年龄分布',
			subtext: '数据来源: 猫眼',
			textAlign: 'left'
		}, 
		tooltip: {
			formatter: function(params){
				return '比例：<br>' + params['name'] + ': ' + params['data'] + '%';
			}
		},
		xAxis: {
			data: ['11-15岁', '16-20岁', '21-25岁', '26-30岁', '31-35岁', '36-40岁', '40-50岁']

		},
		yAxis: {
			axisLabel: {
				show: true,
				formatter: '{value}%'
			}	
		},
		series: [{
			name: '比例%',
			type: 'bar',
			label: {
				normal: {
					show: true,
					position: 'top',
					formatter: '{c}%'
				}
			},
			data: [{{ movieDetail.age_11_15 }}, {{ movieDetail.age_16_20 }}, {{ movieDetail.age_21_25 }}, {{ movieDetail.age_26_30 }}, {{ movieDetail.age_31_35 }}, {{ movieDetail.age_36_40 }}, {{ movieDetail.age_40_50 }}]
			//[1, 2, 3, 4, 5, 6, 7]
		}]
	};

	age_chart.setOption(age_chart_option);
	
	
	//dailyBoxoffice-chart
	function GetDailyBoxoffice() {
		$.ajax({
			type: 'GET',
			url: '/movies/movie_daily/' + {{ movieDetail.movieid }} + '/',
			cache: false,
			success: function(data) {
				var dailyBoxoffice = JSON.parse(data['data']);
				console.log(dailyBoxoffice);
				var dailyBoxoffice_array = [];
				var dailyShowDate_array = [];
				var dailyShowRate_array = [];
				var dailyBoxRate_array = [];

				for (var i = 0; i < dailyBoxoffice.length; i++){
					//daily boxoffice
					dailyBoxoffice_array.push(dailyBoxoffice[i]['fields']['dailyboxoffice']);
					//showDate
					dailyShowDate_array.push(dailyBoxoffice[i]['fields']['showdate']);
					//daily seatrate
					dailyShowRate_array.push(dailyBoxoffice[i]['fields']['showrate']);
					//daily box rate
					dailyBoxRate_array.push(dailyBoxoffice[i]['fields']['boxrate']);
				}
				

				var dailyBoxoffice_chart = echarts.init(document.getElementById('dailyBoxoffice-chart'));
				var dailyBoxoffice_colors = ['#5793f3', '#d14a61', '#675bba'];
				var dailyBoxoffice_chart_option = {
					color: dailyBoxoffice_colors,
					tooltip: {
						trigger: 'axis',
					},
					grid: {
						right: '20%'
					},
					toolbox: {
						feature: {
							dataView: {show: true, readOnly: false},
							restore: {show: true},
							saveAsImage: {show: true}
						}	
					},
					legend: {
						data:['票房(万)','排片率%','票房占比%']
					},
					xAxis: [
						{
							type: 'category',
							axisTick: {
								alignWithLabel: true
							},
							data: dailyShowDate_array//['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
						}
					],
					yAxis: [
						{
							type: 'value',
							name: '票房(万)',
							min: 0,
							//max: 100,
							position: 'left',
							axisLine: {
								lineStyle: {
									color: dailyBoxoffice_colors[0]
								}
							},
							axisLabel: {
								formatter: '{value} 万'
							}
						},
						{
							type: 'value',
							name: '排片率%',
							min: 0,
							max: 100,
							position: 'right',
							offset: 80,
							axisLine: {
								lineStyle: {
									color: dailyBoxoffice_colors[1]
								}
							},
							axisLabel: {
								formatter: '{value} %'
							}
						},
						{
							type: 'value',
							name: '票房占比%',
							min: 0,
							max: 100,
							position: 'right',
							axisLine: {
								lineStyle: {
									color: dailyBoxoffice_colors[2]
								}
							},
							axisLabel: {
								formatter: '{value} %'
							}
						}
					],
					series: [
						{
							name:'票房(万)',
							type:'bar',
							data: dailyBoxoffice_array//[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
						},
						{
							name:'排片率%',
							type:'line',
							yAxisIndex: 1,
							data: dailyShowRate_array//[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
						},
						{
							name:'票房占比%',
							type:'line',
							yAxisIndex: 2,
							data: dailyBoxRate_array//[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
						}
					]
				};

				dailyBoxoffice_chart.setOption(dailyBoxoffice_chart_option);
			}
		});
	}//end of GetDailyBoxoffice


	//secondary menu tab transition
	function tabTransition() {
		$('#tab_transition a').click(function(event) {
			//get previous active item's href
			var active_tab_selector = $($('#tab_transition a.active').attr('href'))[0];
			//remove active and hide
			var active_tab = $('#tab_transition a.active');
			active_tab.removeClass('active');
			active_tab_selector.style.display = 'none';
	
			//get the newly clicked item
			var activate_tab_selector = $(this).attr('href');
			//add active and display
			$(activate_tab_selector)[0].style.display = 'block';
			$(this).addClass('active');
		});
	}
</script>
{% endblock %}
