{% extends "movies_base.html" %}

{% block title %}
	{{ movieDetail.moviename }}
{% endblock %}


{% block styles %}
<style type="text/css">
	/* clearfix */
	.clearfix {
		display: block;
		zoom: 1;
	}

	/* body */
	body {
		font: 12px Helvetica,Arial,sans-serif;
		line-height: 1.62;
	}

	/* html */
	html {
		color: #111;
	}

	/* wrapper */
	#wrapper {
		width: 950px;
		margin: 0 auto;
		margin-top: 50px;
	}

	/* content */
	#content {
		min-height: 420px;
	}
	#content h2 {
		color: #007722;
		margin: 24px 0 3px 0;
		font: 15px Arial;
		line-height: 1.5;
	}

	/* h1 */
	h1 {
		word-wrap: break-word;
		display: block;
		font-size: 25px;
		font-weight: bold;
		color: #494949;
		padding: 0 0 15px 0;
		line-height: 1.1;
	}

	/* article for grid-16-8 */
	.grid-16-8 .article {
		float: left;
		width: 590px;
		padding-right: 40px;
	}

	/* indent */
	.indent {
		margin-bottom: 30px;
		word-break: break-all;
	}

	/* subject */
	.subjectwrap {
		float: none;
		width: auto;
		margin-bottom: 15px;
	}
	.subject {
		float: left;
		width: 415px;
		margin-right: 20px;
	}


	/* rating section */
	#interest_sect1 {
		float: left;
		width: 155px;
		margin: 2px 0 0 0;
		padding: 0 0 0 15px;
		border-left: 1px solid #eaeaea;
		color: #9b9b9b;
	}
	#interest_sect1 .rating_wrap {
		padding-bottom: 15px;
		font-size: 12px;
		line-height: 14px;
	}
	#interest_sect1 .rating_self {
		padding: 0;
		line-height: 2;
	}



	/* main image */
	#mainpic {
		float: left;
		text-align: center;
		margin: 3px 12px 0 0;
		max-width: 155px;
		overflow: hidden;
	}

	/* info */
	#info {
		float: left;
		max-width: 248px;
		word-wrap: break-word;
	}

	/* more-actor */
	.more-actor {
		color: #aaa;
	}

	/* related-info */
	.related-info, .age{
		clear: both;
		margin-top: 20px;
		margin-bottom: -10px;
		padding: 20px 0 3px;
	}

	/* boxoffice */
	.boxoffice span {
		border: .02rem solid #ffa933;
		border-radius: .04rem;
		color: #ffa933;
		line-height: 2rem;
		float: left;
		margin-right: .14rem;
		margin-bottom: .2rem;
		height: 2rem;
		padding: 0 .2rem;
	}

	/* gender */
	.gender .bar-wrap {
		margin: 0 .24rem;
		height: .5rem;
		position: relative;
	}

	/* male */
	.gender .bar-wrap span#bar-left {
		left: 0;
		background: #71b0ef;
	}
	.gender .bar-wrap span#bar-left:before {
		content: '男';
		padding-left: .2rem;
	}
	.gender .bar-wrap span#bar-left:after {
		padding-right: .2rem;
		float: right;
		content: attr(data-content);
	}

	/* female */
	.gender .bar-wrap span#bar-right {
		right: 0;
		background: #f66c73;
	}
	.gender .bar-wrap span#bar-right:before {
		padding-left: .2rem;
		content: attr(data-content);
	}
	.gender .bar-wrap span#bar-right:after {
		content: '女';
		padding-right: .2rem;
		float: right;
	}

	.gender .bar-wrap span {
		position: absolute;
		height: 1.2rem;
		color: #fff;
		line-height: 1.2rem;
		/*min-width: 30%;*/
		max-width: 70%;
		overflow: hidden;
	}
	.gender .bar-wrap span:after {
		padding-right: .2rem;
		float: right;
	}

</style>
{% endblock %}


{% block content %}
{% if movieDetail %}
	<!-- This part for wrapper. -->
	<div id="wrapper">
		<!-- Main content. -->
		<div id="content">
			<h1>
				<span>{{ movieDetail.moviename }}</span>
				<span>({{ movieDetail.releasedate }})</span>
			</h1>		
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div class="indent clearfix">
						<div class="subjectwrap clearfix">
							<div class="subject clearfix">
								<div id="mainpic">
									<img style="height:260px;" src="http://www.cbooo.cn/moviepic/157125.jpg">
								</div>
								<div id="info">
									<div id="info_director"></div>
									<div id="info_actor"></div>
									<span>类型:&nbsp;</span>{{ movieDetail.genre }}<br>
									<span>制片国家/地区:&nbsp;</span>{{ movieDetail.country }}<br>
									<span>语言:</span>{{ movieDetail.language }}<br>
									<span>上映日期:</span>{{ movieDetail.releasedate }}<br>
									<span>片长:</span>{{ movieDetail.duration }}<br>
									<span>又名:</span>{{ movieDetail.alias }}<br>
								</div>
							</div>
							<div class="interest_sect1">
								<div class="rating_logo">猫眼评分</div>
								<div class="rating_wrap clearbox">
									<div class="rating_self clearfix" typeof="v:Rating">
							            <strong class="ll rating_num" property="v:average">{{ movieDetail.maoyanratingscore }}</strong>
							            <span property="v:best" content="10.0"></span>
							            <div class="rating_right ">
							                <div class="ll bigstar40"></div>
								                <div class="rating_sum">
							                    <a href="collections" class="rating_people"><span property="v:votes">{{ movieDetail.maoyanratingnum }}</span>人评价</a>
							                </div>
							            </div>
							        </div>								
								</div>
							</div>
						</div>
					</div>
					<div class="related-info">
						<h2>{{ movieDetail.moviename }}的剧情简介</h2>
						<div class="indent">
							<p style="text-indent: 2em;">{{ movieDetail.synopsis }}</p>
						</div>
					</div>

					<!-- Set for various tabs. -->
					<div class="tab" id="tab">
						<div class="tab-wrap-movie">
							<div class="ui secondary four item menu" id="tab_transition" style="border-top: 1px solid; border-bottom: 1px solid;">
								<a class="active item" href="#companyInfo">公司</a>
								<a class="item" href="#dailyBoxoffice">票房</a>
								<a class="item" href="#dailyShow">排片</a>
								<a class="item" href="#audAnalysis">用户</a>
							</div>
						</div>
						<div id="companyInfo" style="display: block;">
							<div id="company_production"></div>
							<div id="company_distribution"></div>
						</div>
						<div id="dailyBoxoffice" style="display: none;">
							
						</div>
						<div id="dailyShow" style="display: none;">
							
						</div>
						<div id="audAnalysis" style="display: none;">		
							<div class="gender">
								<h2>性别分布</h2>
								<div class="bar-wrap">
									<span id="bar-left" data-content="{{ movieDetail.male }}%" style="width: {{ movieDetail.male }}%"></span>
							 		<span id="bar-right" data-content="{{ movieDetail.female }}%" style="width: {{ movieDetail.female }}%"></span>
								</div>
							</div>
							<div class="age">
								<h2>年龄分布</h2>
								<div id="age-chart" style="width: 600px; height: 400px;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="aside" style="left: 640px; position: static; bottom: 300px;">
					<div class="boxoffice" style="margin-bottom: 10px;">
						<h2>票房数据</h2>
						<span>总票房:&nbsp;&nbsp;<i>{{ movieDetail.gross }}</i>万元</span>
					</div>
					<br>
					<div class="tags" style="margin-top: 10px;">
						<h2>豆瓣标签</h2>
						<div class="tags-body">
							{{ movieDetail.tag }}
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>

		<!-- footer area. -->
		<div id="footer"></div>
	</div>
{% else %}
	<p>抱歉，此影片无数据.</p>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript">
	//Get people info for this movie
	function GetPeople(){
		$.ajax({
			type: 'GET',
			url: '/movies/movie_people/' + {{ movieDetail.movieid }} + '/',
			cache: false,
			success: function(data){
				//clear contents of info div
				//$("#info").html("");
				
				var directors_array = [];
				var actors_array = [];

				for (var i = 0; i < data.length; i++){
					if (data[i]['fields']['role'] == 'director') {
						directors_array.push({
							'name': data[i]['fields']['name'],
							'peopleid': data[i]['fields']['peopleid']
						});
					}

					if (data[i]['fields']['role'] == 'actor') {
						actors_array.push({
							'name': data[i]['fields']['name'],
							'peopleid': data[i]['fields']['peopleid']
						});
					}
				}

				//now generate html
				//director
				for (var i = 0; i < directors_array.length; i++){
					if (i == 0){
						$('#info_director').append('<span>导演:&nbsp;</span><span><a href="#">' + directors_array[i]['name']  + '</a></span>');
					} else {
						$('#info_director').append('<span><a href="#">' + ', ' + directors_array[i]['name']  + '</a></span>');
					}
					if ( i == directors_array.length - 1){
						$('#info_director').append('<br/>');
					}
				}
				
				//actors
				for (var i = 0; i < actors_array.length; i++){
					if (i == 0){
						$('#info_actor').append('<span>主演:&nbsp;</span><span><a href="#">' + actors_array[i]['name']  + '</a></span>');
					} else if (i > 3){ 
						$('#info_actor').append('<span><a href="#" style="display: none;">' + ', ' + actors_array[i]['name']  + '</a></span>');
					}
					else {
						$('#info_actor').append('<span><a href="#">' + ', ' + actors_array[i]['name']  + '</a></span>');
					}
					if ( i == actors_array.length -1 && i > 3){
						$('#info_actor').append('<a href="javascript:;" class="more-actor" title="更多主演">, 更多...</a>');
					}
				}

			}
		});
	}

	//document get ready
	$(document).ready(function() {
		//get people
		GetPeople();

		//tab transition
		tabTransition();
	});

	//age-chart
	var age_chart = echarts.init(document.getElementById('age-chart'));

	var option = {
		title: {
			text: '用户年龄分布',
			subtext: '数据来源: 猫眼',
			textAlign: 'left'
		}, 
		tooltip: {
			formatter: function(params){
				return '比例：<br>' + params['name'] + ': ' + params['data'] + '%';
			}
		},
		xAxis: {
			data: ['11-15岁', '16-20岁', '21-25岁', '26-30岁', '31-35岁', '36-40岁', '40-50岁']

		},
		yAxis: {
			axisLabel: {
				show: true,
				formatter: '{value}%'
			}	
		},
		series: [{
			name: '比例%',
			type: 'bar',
			label: {
				normal: {
					show: true,
					position: 'top',
					formatter: '{c}%'
				}
			},
			data: [{{ movieDetail.age_11_15 }}, {{ movieDetail.age_16_20 }}, {{ movieDetail.age_21_25 }}, {{ movieDetail.age_26_30 }}, {{ movieDetail.age_31_35 }}, {{ movieDetail.age_36_40 }}, {{ movieDetail.age_40_50 }}]
			//[1, 2, 3, 4, 5, 6, 7]
		}]
	};

	age_chart.setOption(option);


	//secondary menu tab transition
	function tabTransition() {
		$('#tab_transition a').click(function(event) {
			//get previous active item's href
			var active_tab_selector = $($('#tab_transition a.active').attr('href'))[0];
			//remove active and hide
			var active_tab = $('#tab_transition a.active');
			active_tab.removeClass('active');
			active_tab_selector.style.display = 'none';
	
			//get the newly clicked item
			var activate_tab_selector = $(this).attr('href');
			//add active and display
			$(activate_tab_selector)[0].style.display = 'block';
			$(this).addClass('active');
		});
	}
</script>
{% endblock %}
